* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

.body {
    background: url("../images/login-background-img.png") no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    position: absolute;
}

.logo {
    height: 45px;
    margin: 20px 40px;
    font-size: 30px;
    color: white;
}

.body_count {
    width: 340px;
    position: relative;
    top: 20%;
    left: 65%;
}


.login_count {
    width: 340px;
    height: 380px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 15px #2aa2a3;
    margin-top: 20px;
}


#all {
    width: 80%;
    margin: 50px auto 0px;
}

#option {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid #ceffff;
    margin-bottom: 40px;
}

#option li {
    float: left;
    text-align: center;
    width: 50%;
    /*background: white;*/
    height: 38px;
    cursor: pointer;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
}

#option li.active {
    background: linear-gradient(to left, #40E4E5, #28CCD6);
    color: white;
    border-radius: 20px;
}

#card li {
    height: 100%;
    display: none;
}

#card li.active {
    display: block;
}

.login_bot_count {
    width: 100%;
    border: 1px solid #34D8DE;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 3px;
    margin-top: 10px;
}

.login_bot_count>img {
    height: 20px;
    padding-left: 5px;
}

.login_bot_count>input {
    height: 35px;
    border: 0px;
    width: 80%;
}

.login_bot_count>input::-webkit-input-placeholder {
    color: #dedede;
}

.login_bot {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.login_bot>a,
.login_bot>p {
    font-size: 12px;
    color: #898989;
}

.login_bot>p {
    width: 26%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


/*记住密码勾选框*/

.login_bot>p>input[type="checkbox"] {
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    position: relative;
}

.login_bot>p>input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #dedede;
}

.login_bot>p>input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #dedede;
    color: #898989;
    font-size: 12px;
    font-weight: bold;
}


/*按钮样式*/

.login_button {
    margin-top: 20px;
    width: 100%;
    border: 0px;
    height: 35px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to left, #40E4E5, #28CCD6);
}

.mobile_input {
    height: 35px;
    border: 0px;
    width: 75%;
}





/*按钮样式*/

.login_account_button {
    margin-top: 40px;
    width: 100%;
    border: 0px;
    height: 35px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to left, #40E4E5, #28CCD6);
}

.login_b_l_t {
    color: white;
    font-size: 12px;
    padding: 3px;
    background: linear-gradient(to right, #26CBD6, #3EE1E2);
}

.login_b_title>img {
    height: 22px;
    margin-right: 5px;
}

.login_b_title {
    width: 100%;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 1000;
}

.libqr {
    width: 60%;
    margin: 10px 20%;
}

.libqr_text {
    width: 100%;
    text-align: center;
    color: #c4c4c4;
    font-size: 12px;
}
.delivery_count_l_b>input:focus .delivery_count_l_b{
    border-bottom: 1px solid #26CAD6;
}